table {
    border-collapse: separate;
    border-spacing: 0;
}

table th:first-child {
    border-top-left-radius: 8px;
}
table th:last-child {
    border-top-right-radius: 8px;
}

table tfoot td:first-child {
    border-bottom-left-radius: 8px;
}

table tfoot td:last-child {
    border-bottom-right-radius: 8px;
}

th, td {
    background-color: rgb(189, 188, 188);
    width: 35%;
    padding: 10px;
    border: 1px solid rgb(143, 142, 142);
}

td {
    text-align: center;
    border-top: none;
}

td:nth-child(n + 2):nth-child(-n + 3) {
    border-left: none;
}

th:nth-child(n + 2):nth-child(-n + 3) {
    border-left: none;
}

tfoot td:nth-child(2){
    border-right: none;
}